<div id="main">
<%= @msg -%>
</div>

<div><% price = 1000
result = price * 1.05 %></div>
<div>￥<%= result %></div>

<%# コメントです。 %>
<%#
複数行の
コメントも可能です。
%>

<% if false %>
<% msg = 'この部分は無視されます。' %>
<%= 'これも無視されます。' %>
当然、これも無視される。
<% end %>

<%
=begin
%>
<% msg = 'この部分は無視されます。' %>
<%= 'これも無視されます。' %>
当然、これも無視される。
<%
=end
%>

<!-- <%= 'ブラウザの画面上には表示さません。' %> -->
<!-- <%= 'ソースコードを表示すると見えます。' %> -->